@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.br2.animado{
  opacity: 0;
  transition: transform 1s ease;
}

.br1.animado{
  transform: rotate(45deg) translate(9px,8px);
  transform-origin: 0% 100%;
  transition: transform 1s ease;
}

.br3.animado{
  transform: rotate(-45deg) translate(-6px,8px);
  transform-origin: 0% 100%;
  transition: transform 1s ease;
}

.br2 {
  opacity: 1;
  transition: opacity 1s ease;
}

.br1 {
  transform: none;
  transition: transform 1s ease;
}

.br3 {
  transform: none;
  transition: transform 1s ease;
}
